body{
color:blue;
background:black;
}
#background{
background:white;
width:999px;
height:1111px;
margin:0 auto;
margin-top:50px;
border:3px dotted green;
}
#header{
background:#FF0000;
height:150px;
width:100%;
}
table#bottom{
height:33px;
width:100%;
margin:0 auto;
}
#td1{
margin:0;
}
#div1{
background:#cc0000;
border-bottom-right-radius:50px;
width:44px;
height:33px;
}
#td2{
margin:0;
}
#div2{
background:#cc0000;
margin:0 auto;
border-bottom-left-radius:50px;
border-bottom-right-radius:44px;
width:222px;
height:33px;
}
#td3{
margin:0;
}
#div3{
background:#cc0000;
float:right;
margin:0;
border-bottom-left-radius:50px;
width:44px;
height:33px;
}
table#bottomm{
height:33px;
width:75%;
float:right;
margin-top:75px;
}
#tdd1{
margin:0;
width:25%;
}
#divv1{
background:#cc0000;
width:100%;
height:33px;
border-top-left-radius:50px;

}
#tdd2{
margin:0;
width:25%;
}
#divv2{
background:#cc0000;
width:100%;
height:33px;
}
#tdd3{
margin:0;
width:25%;
}
#divv3{
background:#cc0000;
width:100%;
height:33px;
}

#tdd4{
margin:0;
width:25%;
}
#divv4{
background:#cc0000;
width:100%;
height:33px;
}
#topheader{
background:#cc0000;
margin:0;
width:25%;
height:33px;
border-bottom-right-radius:50px;
}

#body{
background:blue;
width:100%;
height:760px;
}


#menu{
background:green;
width:24%;
height:700px;
margin-top:20px;
border-radius:55px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
float:left;
}
#content{
background:green;
width:70%;
height:700px;
margin-top:20px;
border-radius:55px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
float:right;
}
#box{
background:blue;
width:220px;
height:222px;
margin:60px;
margin-top:33px;
border-radius:22px;
}
#boxin{
background:#cc0000;
width:220px;
height:40px;
border-bottom-right-radius:50px;
border-top-right-radius:22px;
border-top-left-radius:22px;
border-bottom-left-radius:50px;
}
#right{
float:right;
}
#left{
float:left;}
#heade{
font-size:35px;
color:red;
margin:5px;
} 
#infor{
font-size:16px;
color:silver;
}


table{
margin:0 auto;
}
td{color:red;
font-size:20px;
height:8px;
width:8px;
}
td#dd{
font-size:40px;
color:blue;
border-bottom:4px dotted red;
}

h1{
margin:0;
color:blue;
font-size:30px;
text-align:center;
}
h2{
margin:0;
color:blue;
font-size:25px;
text-align:center;
}
h3{
color:#ff0000;
font-size:30px;
text-decoration:none;
text-align:center;
margin:0;
}


a:hover h3{
font-size:30px;
text-shadow:2px 2px 8px yellow;
font-style:oblique;
}
a:hover h1{
font-size:33px;
text-shadow:2px 2px 8px yellow;
font-style:oblique;
}
a:hover #heade{
color:black;
font-weight:bolder;
font-style:oblique;
text-shadow:2px 2px 8px white;
}
a{
text-decoration:none;
}

ul{
list-style:none;
}
li{
color:#000000;
font-size:33px;

}
a:hover li{
border:3px solid red;
color:red;
}